<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="css">
	<th:block th:include="fragments/assets/common/css::css"></th:block>
</th:block>

<th:block th:fragment="javascript">
	<th:block th:include="fragments/assets/common/js::javascript"></th:block>
</th:block>

<th:block th:fragment="title">
	<title th:text="${title}">LogiH</title>
</th:block>


<th:block th:fragment="content">
	<div class="container">
		<div class="row">
			
			<div class="col-md-6" >1</div>
			<div class="col-md-6">2</div>
		</div>
	</div>

	
</th:block>

</html>