<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="css">
	<th:block th:include="fragments/assets/common/css::css"></th:block>
</th:block>

<th:block th:fragment="javascript">
	<th:block th:include="fragments/assets/common/js::javascript"></th:block>
</th:block>

<th:block th:fragment="title">
	<title th:text="#{${title}}">LogiH</title>
</th:block>


<th:block th:fragment="content">
	<th:block th:include="fragments/common/menu-bar::menu-bar"></th:block>
	<div class="container">

		<h2 class="mt-4">Welcome HOME</h2>
		<hr />
		<div class="row">
			<div class="col-sm-6">
				<a th:href="@{#{url.menu.transfer}}" href="#"> <button class="btn-menu"> <i class="fa fa-money"></i>Transfer</button></a>
			</div>
			<div class="col-sm-6">
				<a th:href="@{#{url.menu.profile}}" href="#"> <button class="btn-menu"> <i class="fa fa-user-o"></i>Profil</button></a>
			</div>
		</div>
		<p> </p>
		<div class="row">
			<div class="col-sm-6">
				<a th:href="@{#{url.menu.contact}}" href="#"> <button class="btn-menu"> <i class="fa fa-address-book"></i>Contact</button></a>
			</div>
			<div class="col-sm-6">
				<a th:href="@{#{url.menu.logoff}}" href="#"> <button class="btn-menu"> <i class="fa fa-power-off"></i>Log Off</button></a>
			</div>
		</div>

		<div class="row"></div>
	</div>


</th:block>

</html>