<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="css">
	<th:block th:include="fragments/assets/common/css::css"></th:block>
</th:block>

<th:block th:fragment="javascript">
	<th:block th:include="fragments/assets/common/js::javascript"></th:block>
</th:block>

<th:block th:fragment="title">
	<title th:text="#{${title}}">PMB</title>
</th:block>


<th:block th:fragment="content">
	<th:block th:include="fragments/common/menu-bar::menu-bar"></th:block>
	<div class="container">

		<h2 class="mt-4">Transfer </h2>
		<hr />
		<div class="row">
			<div class="col-sm-6">
				<form action="#" method="post"
					th:action="@{#{url.form.transfer.to_contact}}"
					th:object="${transfer_form}">
					<h4 class="mt-4">Transfer to a contact</h4>
					<!-- Form levels error messages here -->

					<div class="form-group row ">
						<div class="col-sm-8">
							<span class="text-danger" th:errors="*{global}"> </span>
						</div>
					</div>
					<div class="form-group row ">
						<div class="col-sm-6">
							<input th:field="*{amount}" type="number" step="0.01" min="0" required="required"
								class="form-control" placeholder="Amount">
						</div>

						<div class="col-sm-6">
							<select class="form-control" th:field="*{receiverUsername}"
								required="required">
								<option value="" selected="selected">Choose a contact</option>
								<option th:each="contact: ${my_profile.contacts}"
									th:value="${contact}" th:text="${contact}"></option>
							</select>
						</div>

					</div>
					<div class="form-group row">

						<div class="col-sm-4">
							<span class="text-danger" th:errors="*{amount}"> </span>
						</div>
						<div class="col-sm-4">
							<span class="text-danger" th:errors="*{receiverUsername}">
							</span>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-10">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</div>

				</form>

			</div>
			<div class="col-sm-6">
				<form action="#" method="post"
					th:action="@{#{url.form.transfer.to_bank_account}}"
					th:object="${bank_transfer_form}">
					<h4 class="mt-4">Transfer to bank account</h4>
					<!-- Form levels error messages here -->

					<div class="form-group row ">
						<div class="col-sm-8">
							<span class="text-danger" th:errors="*{global}"> </span>
						</div>
					</div>
					<div class="form-group row ">
						<div class="col-sm-6">
							<input th:field="*{amount}" type="number" step="0.01" min="0" required="required"
								class="form-control" placeholder="Amount">
						</div>

						<div class="col-sm-6">
							<input th:field="*{bankAccount}" type="text" required="required"
								class="form-control" placeholder="Bank account">
						</div>

					</div>
					<div class="form-group row">

						<div class="col-sm-4">
							<span class="text-danger" th:errors="*{amount}"> </span>
						</div>
						<div class="col-sm-4">
							<span class="text-danger" th:errors="*{bankAccount}">
							</span>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-10">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</div>

				</form>
			</div>
		</div>

		<hr />
		<h4 class="mt-4">My Informations</h4>
		<table class="table">
			<thead class="thead-light">
				<tr>
					<th class="text-left">Username</th>
					<th class="text-left">Account Number</th>
					<th class="text-left">Balance</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${my_profile.username}">Username@pmb.com</td>
					<td th:text="${my_profile.accountNumber}">Username@pmb.com</td>
					<td th:text="${my_profile.balance}">17000</td>
				</tr>

			</tbody>
		</table>
		<hr />
		<h4 class="mt-4">My Transactions</h4>
		<table class="table">
			<thead class="thead-light">
				<tr>
					<th class="text-left">Transaction Type</th>
					<th class="text-left">Amount</th>
					<th class="text-left">Receiver</th>
					<th class="text-left">Date</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="transaction: ${my_transactions}">
					<td th:text="${transaction.transactionType}">65</td>
					<td th:text="${transaction.amount}">17000</td>
					<td th:text="${transaction.receiver?.username}">17000</td>
					<td th:text="${transaction.createdDate}">17000</td>
				</tr>

			</tbody>
		</table>
		<div class="row"></div>
	</div>


</th:block>

</html>